* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "fira code", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

.chart-menu {
  width: 100vw;
  height: 4rem;
  background: #1a1a1a;
  color: rgba(54, 162, 235, 1);
}

.chart-menu p {
  padding: 1rem;
  font-size: 2rem;
}

.chart-card {
  width: 100vw;
  height: calc(100vh - 4rem);
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-box {
  width: 60rem;
  padding: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: 3px solid rgba(54, 162, 235, 1);
  background: #fff;
}
